.square {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 95);
    margin: 10px 0px 10px 0px;
    padding: 20px;
}

.square p {
    margin-top: 140px;
    text-align: center;
    font-size: 20px;
}

.off {
    padding: 5px;
    font-size: 20px;
    background-color: rgb(255, 200, 200);
}

.on {
    padding: 5px;
    font-size: 20px;
    background-color: rgb(253, 255, 147);
}

.img_n6 {
    height: 360px;
    width: 360px;
}

.input_first {
    padding: 10px;
}

.ul_n10 li {
    cursor: pointer;
}