.color_num1 {
    height: 100px;
    width: 450px;
    background-color: rgb(255, 245, 99);
    margin: 5px;
}

.color_num2 {
    height: 70px;
    width: 215px;
    background-color: rgb(255, 245, 99);
    margin: 5px;
}

.color_num3 {
    background-color: rgb(255, 245, 99);
    margin: 5px;
    height: 100px;
}

.container_grid {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-template-rows: auto auto;
    gap: 5px;
}

.left_col {
    grid-row: 1;
    min-height: 40px;
    align-self: start;
}

.color_ye {
    background-color: rgb(255, 245, 99);
}

.right_col {
    display: grid;
    grid-row: 1 / span 2;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    padding: 0px 15px 15px 0px;
    min-height: 160px;
}

.right_col_n4 {
    display: grid;
    grid-row: 1 / span 2;
    grid-template-columns: 3fr 8fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    padding-bottom: 15px;


}

.color_g {
    background-color: rgb(19, 128, 0);
}

.color_r {
    background-color: brown;
}

.color_b {
    background-color: rgb(18, 17, 17);
}